/* For browsers not using HTML5 */
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
body{
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 1260px;
  margin: 60px auto;
}
h1 {
  font-family: 'Leckerli One', Helvetica, sans-serif;
  text-align: center;
  color: green;
  margin-bottom: 0px;
}
h2, h3, h4, h5, h6 {
  text-align: center;
}

hr.divider {
  border: 1px solid #ddd;
}
pre {
  font-size: 16px;
  max-width: 800px;
}
.article{
  max-width: 800px;
  margin: 5px auto;
}
.intro{
  font-family: serif;
  color: #777;
  font-style: italic;
  font-size: 18px;
}
.description{
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #888888;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  width: 210px;
  margin: 10px;
}
.examversions{
  display: block;
  margin: 10px auto;
  width: 252px;
  height: 46px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 4px;
}
.footer {
  color: #999;
  text-align: center;
}
.logo{
  display: block;
  width: 82px;
  height: auto;
  margin: 20px auto;
}
.contact_logo {
  width: 40px;
  height: auto;
  margin: 0px 10px 0px 10px;
}
.nav_logo{
  width: 30px;
  height: 24px;
  margin: 10px 40px;
}
.wide_logo{
  width: 100px;
  height: auto;
  margin: 0px 10px 0px 10px;
}
.me{
  width: 920px;
  margin: 10px auto;
}
.me img{
  float: right;
  width: 250px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 4px 4px 28px #888888;
  margin: 18px;
}
.contacts{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
img{
  width: 100%;
}
.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
button{
  width: 88px;
  height: 32px;
  margin: 6px;
  background-color: #B2F3F5;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #888888;
  cursor: pointer;
}
button:hover{
  background-color: pink;
}
.navbar {
  max-width: 1260px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 16px;
}
.navbar a:hover {
  background: #ddd;
}
hr{
  width: 80%;
}
.title{
  font-size: 120%;
  text-align: center;
  color: #db7093;
}
@media (max-width: 940px) {
  body {
    padding: 10px;
  }
  .me{
    width: 800px;
  }
}
@media (max-width: 840px) {
  body {
    padding: 10px;
  }
  .me{
    width: 600px;
  }
}
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  .me{
    width: 100%;
  }
}
